@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: "Inter", sans-serif;
}

section {
  scroll-margin-top: 90px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 100px 0;
}